<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'ecomapp:adminhome' %}">
                <i class="fas fa-home"></i> Home
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ecomapp:adminorderlist' %}">
                        <i class="fas fa-list"></i> All Orders
                    </a>
                </li>
            </ul>
            <a class="btn btn-info ml-auto" target="_blank" href="{% url 'ecomapp:home' %}">
                <i class="fas fa-globe"></i> Visit Site
            </a>
        </div>
    </nav>
    
    <br/>
    <br/>
    
{% block content %}{% endblock content %}

   </body>
</html>