{% extends 'base.html' %}

{% block title %}Order Detail{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Order Detail</h3><hr/>
            <p><span style="font-weight:bold;">Order ID:</span>#ORDER_{{ord_obj.id}}</p>
            <p><span style="font-weight:bold;">Order Status:</span>{{ord_obj.order_status}}</p>
            <p><span style="font-weight:bold;">Ordered On:</span>{{ord_obj.created_at|timesince}} ago</p>
            <p><span style="font-weight:bold;">Customer Information:</span>By {{ord_obj.ordered_by}}, {{ord_obj.mobile}}, ({{ord_obj.email}})</p>
            <p><span style="font-weight:bold;">Shipping Address:</span> {{ord_obj.shipping_address}}</p>

            <h4>Ordered Item</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp  in ord_obj.cart.cartproduct_set.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{cp.product.title}}({{cp.product.id}})</td>
                            <td>{{cp.rate}}</td>
                            <td>{{cp.rate}}</td>
                            <td>{{cp.subtotal}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>Rs. {{ord_obj.total}}/</th>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>
{% endblock content %}