{% extends 'base.html' %}

{% block title %}Customer Registration{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="mb-3">Customer Registration Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Register Here</button>
                </div>

                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
            </form>
            <p>Already have an account? <a href="{% url 'ecomapp:customerlogin' %}">Login Here</a></p>
        </div>
    </div>
</div>
{% endblock content %}
