<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khalti Payment</title>
    <!-- Include Bootstrap CSS from a CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/khalti-checkout-web@latest/dist/khalti-checkout.iffe.js"></script>
    <style>
        /* Custom CSS for centering the container */
        
    </style>
</head>
<body>
 
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'ecomapp:home' %}">City Cake Palace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ecomapp:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:allproducts' %}">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:mycart' %}">Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
          <ul class="dropdown-menu">
              {% if request.user.customer %}
              <li class="nav-item">
                Welcome {{request.user.username}}
              </li><br/>
              <a class="dropdown-item" href="{% url 'ecomapp:customerprofile' %}">My Profile</a></li>
              <a class="dropdown-item" href="{% url 'ecomapp:customerlogout' %}">Logout</a></li>
  
          {% else %}
          <a class="dropdown-item" href="{% url 'ecomapp:customerregistration' %}">Register</a>
          <a class="dropdown-item" href="{% url 'ecomapp:customerlogin' %}">Login</a>
          
          {% endif %}</ul>
        </li>
      
      </ul>
      <form class="d-flex" role="search" action="{% url 'ecomapp:search' %}" method="GET">
        <input class="form-control me-2" name="keyword" type="search" placeholder="Search product here..." aria-label="Search">
        <button class="btn btn-outline-success btn-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

          <div class="container d-flex justify-content-center align-items-center custom-container mt-5">
            <div class="mb-3 d-block">
                <h3>Your order amount is Rs. {{order.total}}.</h3>
            </div>
            <div class="mb-3">
                <button id="payment-button" class="btn btn-primary">Pay with Khalti</button>
            </div>
            <div class="mb-3">
                <a href="/" class="btn btn-secondary">Go to Home page</a>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            var config = {
                // replace the publicKey with yours
                "publicKey": "test_public_key_dc74e0fd57cb46cd93832aee0a390234",
                "productIdentity": "order_{{order.id}}",
                "productName": "order_{{order.id}}",
                "productUrl": "http://localhost:8000",
                "paymentPreference": [
                    "MOBILE_BANKING",
                    "KHALTI",
                    "EBANKING",
                    "CONNECT_IPS",
                    "SCT",
                ],
                "eventHandler": {
                    onSuccess (payload) {
                        // hit merchant api for initiating verification
                        axios.get("/khalti-verify/", {
                            params: {
                                "token": payload.token,
                                "amount": payload.amount,
                                "order_id": "{{order.id}}"
                            }
                        }).then(function(resp){
                            if (resp.data.success == true){
                                alert("Thanks. Payment Completed Successfully")
                                location.href = "/"
                            }else{
                                alert("Sorry. Error occurred")
                                location.href = "{{request.build_absolute_uri}}"
                            }
                        })
                    },
                    onError (error) {
                        console.log(error);
                    },
                    onClose () {
                        console.log('widget is closing');
                    }
                }
            };
        
            var checkout = new KhaltiCheckout(config);
            var btn = document.getElementById("payment-button");
            btn.onclick = function () {
                // minimum transaction amount must be 10, i.e 1000 in paisa.
                checkout.show({amount: {{order.total}}*100});
            }
        </script>
    </div>        
    <!-- Include Bootstrap JS from a CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>